APP_NAME=sajiin-services
APP_PORT=8600
SPRING_PROFILES_ACTIVE=dev
SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/sajiin_v1?useSSL=false&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=your_mysql_password
SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE=10
SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE=5
SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT=30000
SPRING_DATASOURCE_HIKARI_IDLE_TIMEOUT=600000
SPRING_DATASOURCE_HIKARI_MAX_LIFETIME=1800000
SPRING_JPA_HIBERNATE_DDL_AUTO=none
SPRING_JPA_SHOW_SQL=true
SAJIIN_SERVER_URL=http://localhost:8600
SAJIIN_JWT_SECRET=replace-with-secret
SAJIIN_JWT_EXPIRATION_TIME=86400000
SAJIIN_JWT_REFRESH_EXPIRATION_TIME=604800000
