version: "3.9"

services:
  sajiin-services:
    network_mode: "host"
    build:
      context: .
    container_name: sajiin-services
    command: tail -f /dev/null
    tty: true
    env_file:
      - .env
    environment:
      APP_NAME: ${APP_NAME:-sajiin-services}
      APP_PORT: ${APP_PORT:-8600}
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE:-dev}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE: ${SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE:-10}
      SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE: ${SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE:-5}
      SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT: ${SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT:-30000}
      SPRING_DATASOURCE_HIKARI_IDLE_TIMEOUT: ${SPRING_DATASOURCE_HIKARI_IDLE_TIMEOUT:-600000}
      SPRING_DATASOURCE_HIKARI_MAX_LIFETIME: ${SPRING_DATASOURCE_HIKARI_MAX_LIFETIME:-1800000}
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: ${SPRING_DATASOURCE_DRIVER_CLASS_NAME:-com.mysql.cj.jdbc.Driver}
      SPRING_JPA_HIBERNATE_DDL_AUTO: ${SPRING_JPA_HIBERNATE_DDL_AUTO:-none}
      SPRING_JPA_SHOW_SQL: ${SPRING_JPA_SHOW_SQL:-true}
      SAJIIN_SERVER_URL: ${SAJIIN_SERVER_URL:-http://localhost:8600}
      SAJIIN_JWT_SECRET: ${SAJIIN_JWT_SECRET}
      SAJIIN_JWT_EXPIRATION_TIME: ${SAJIIN_JWT_EXPIRATION_TIME:-86400000}
      SAJIIN_JWT_REFRESH_EXPIRATION_TIME: ${SAJIIN_JWT_REFRESH_EXPIRATION_TIME:-604800000}
    extra_hosts:
      - "host.docker.internal:host-gateway"
